    button {
        background: none;
        border: none;
        margin: 1em;
    }
    
    .N {
        padding: 0.2em;
        border: black solid 0.1em;
        border-bottom: black solid 3px;
        border-right: black solid 2px;
    }
    
    .N:active {
        background-color: grey;
    }
    
    .titleDiv {
        height: 15vh;
        position: relative;
        margin: 2em;
    }
    
    h1 {
        display: inline-block;
    }
    
    .buttonDiv {
        float: right;
        position: relative;
        top: 30%;
        bottom: 30%;
    }